- provide(:title, 'Home')
.center.jumbotron
  %h1 Welcome to Dag Motorsports
  %h2 This is a place to post & compare lap times in various games, tracks & cars!

  = link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-primary'