%li.game{ id: game.name.parameterize }
  .row.vertical-middle
    .col-sm-1.center
      - if game.image
        %img{ class: 'game-image', src: game.image.img_tag_src, width: '100%' }
    .col-sm-4.center
      %p.gametitle= link_to game.name, game
    .col-sm-7= render 'game_details', game: game
