%footer.footer
  %small
    Created by
    %a{ href: 'https://github.com/anirbanmu' }
      Anirban Mukhopadhyay
    &
    %a{ href: 'https://github.com/doctordickbaker' }
      Dick Baker.
  %nav
    %ul
      %li= link_to 'About', '#'
      %li= link_to 'Contact', '#'